<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand">Application</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
    &#9776;
  </button>

  <div id="menu" class="collapse navbar-collapse">
    <ul class="navbar-nav" data-toggle="collapse" data-target="#menu">
      <li class="nav-item" [hidden]="!isConnected()">
        <a class="nav-link" routerLink="/creation">Création de localisation/sport</a>
      </li>
      <li class="nav-item" [hidden]="!isConnected()">
        <a class="nav-link" routerLink="/association">Associer mes locations/sports</a>
      </li>
      <li class="nav-item" [hidden]="isConnected()">
        <a class="nav-link" routerLink="/login">Connexion</a>
      </li>
      <li class="nav-item" [hidden]="isConnected()">
        <a class="nav-link" routerLink="/register">S'enregistrer</a>
      </li>
      <li class="nav-item" [hidden]="!isConnected()">
        <a class="nav-link" (click)="logout()">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>