<div class="card text-center mx-auto" style="max-width: 30rem;" [hidden]="!isConnected()">
  <h5 class="card-header">Ajouter une localisation</h5>
  <div class="card-body">
    <form [formGroup]="locationForm" (ngSubmit)="saveLocation()">
      <label class="form-check-label" style="margin-right: 25px" for="nom">Nom du sport :</label>
      <input formControlName="nom" [(ngModel)]="nom" id="nom">
      <div *ngIf="tentativeCreationLocalisation && locationForm.controls['nom'].errors" >
        <div *ngIf="locationForm.controls['nom'].errors.required" class="alert alert-danger">
          Ce champ est obligatoire
        </div>
      </div>
      <br><br>
      
      <div class="input-group mb-3">
        <select class="custom-select" formControlName="region" [(ngModel)]="regionChoosed" (ngModelChange)="displayDepartements(regionChoosed)">
          <option *ngFor="let region of regions" [ngValue]="region.code">{{ region.nom }}</option>
        </select>
        <div *ngIf="tentativeCreationLocalisation && locationForm.controls['region'].errors" >
          <div *ngIf="locationForm.controls['region'].errors.required" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
      </div>

      <div [hidden]="regionChoosed == undefined" class="input-group mb-3">
        <select class="custom-select" formControlName="departement" [(ngModel)]="departementChoosed" (ngModelChange)="displayCommunes(departementChoosed)">
          <option *ngFor="let departement of departements" [ngValue]="departement.code">{{ departement.nom }}</option>
        </select>
        <div *ngIf="tentativeCreationLocalisation && locationForm.controls['departement'].errors" >
          <div *ngIf="locationForm.controls['departement'].errors.required" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
      </div>
      
      <div [hidden]="departementChoosed == undefined" class="input-group mb-3">
        <select class="custom-select" formControlName="commune" [(ngModel)]="communeChoosed">
          <option *ngFor="let commune of communes" [ngValue]="commune.code">{{ commune.nom }}</option>
        </select>
        <div *ngIf="tentativeCreationLocalisation && locationForm.controls['commune'].errors" >
          <div *ngIf="locationForm.controls['commune'].errors.required" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
      </div>

      <button class="button" type="submit">Sauvegarder la localisation</button>
    </form>
  </div>
</div>

<br>

<div class="card text-center mx-auto" style="max-width: 30rem;" [hidden]="!isConnected()">
  <h5 class="card-header">Ajouter un sport</h5>
  <div class="card-body">
    <form [formGroup]="sportForm" (ngSubmit)="saveSport()">
      <label class="form-check-label" style="margin-right: 25px" for="sport">Nom du sport :</label>
      <input formControlName="sport" [(ngModel)]="sportChoosed" id="sport">
      <div *ngIf="tentativeCreationSport && sportForm.controls['sport'].errors" >
        <div *ngIf="sportForm.controls['sport'].errors.required" class="alert alert-danger">
          Ce champ est obligatoire
        </div>
      </div>
      <br><br>
      <select formControlName="tempsIdeal" class="custom-select" [(ngModel)]="temps">
        <option *ngFor="let weather of weathers" [ngValue]="weather.weather">{{ weather.weather }}</option>
      </select>
      <div *ngIf="tentativeCreationSport && sportForm.controls['tempsIdeal'].errors" >
        <div *ngIf="sportForm.controls['tempsIdeal'].errors.required" class="alert alert-danger">
          Ce champ est obligatoire
        </div>
      </div>
      <br><br>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="aquatique" [(ngModel)]="aquatique" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="aquatique">
          Sport aquatique ?
        </label>
      </div>
      <br>
      <div [hidden]="!aquatique" class="input-group mb-3">
        <label class="form-check-label" style="margin-right: 25px" for="houleMin">Houle min : </label>
        <input [(ngModel)]="houleMin" [ngModelOptions]="{standalone: true}" id="houleMin">
      </div>
      <div [hidden]="!aquatique" class="input-group mb-3">
        <label class="form-check-label" style="margin-right: 25px" for="houleMax">Houle max : </label>
        <input [(ngModel)]="houleMax" [ngModelOptions]="{standalone: true}" id="houleMax">
        <br>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="exterieur" [(ngModel)]="exterieur" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="exterieur">
          En extérieur ?
        </label>
      </div>
      <br>
      <div [hidden]="!exterieur" class="input-group mb-3">
        <label class="form-check-label" style="margin-right: 25px" for="ventMin">Vent min : </label>
        <input [(ngModel)]="ventMin" [ngModelOptions]="{standalone: true}" id="ventMin">
      </div>
      <div [hidden]="!exterieur" class="input-group mb-3">
        <label class="form-check-label" style="margin-right: 25px" for="ventMax">Vent max : </label>
        <input [(ngModel)]="ventMax" [ngModelOptions]="{standalone: true}" id="ventMax">
      </div>

      <button class="button" type="submit">Sauvegarder le sport</button>
    </form>
  </div>
</div>